* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    /* background-color: rgb(223, 255, 255); */
}

.post {
    display: flex;
    padding: 15px;
    border: solid teal 3px;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.trans-enter {
    transform: translateX(-350px);
}

.trans-enter-active {
    transform: translateX(0px);
    transition: all 150ms ease-in;
}
.trans-exit {
    opacity: 1;
}

.trans-exit-active {
    transform: translateX(-350px);
    opacity: 0;
    transition: all 150ms ease-in;
}